h1 {
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    background-clip: text;
  }

  h6{ 
    color: transparent;
    -webkit-text-stroke: 1px rgb(226, 226, 226);
    background-clip: text;
  }
  h6:hover{
    color: black;
    
  }

  .imgcontainer{
    background-color: rgba(0, 0, 0, 0.5);
    
  }

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px 6px;
    width: 100%;
}

.container div{
  min-width: 100px;
  max-width: 550px;
  min-height: 300px;
  max-height: 500px;
  background-size: cover;
  background-position:center;
  filter:brightness(85%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont1{

  background-size: cover;
  background-position:center;
}
.cont2{
  
  
}
.cont3{
  
}
.cont4{
  
}
.cont5{
  
}

.cont6{
  
}